.btn-warning:hover {
    box-shadow: 0 0 10px #fed602;
}

.btn-warning {
    background-color: #fed602 !important;
    border-color: #fed602 !important;
    font-weight: bold;
}

.btn-success:hover {
    box-shadow: 0 0 10px #4fc55b;
}

.btn-success {
    font-weight: bold;
}
/*
.checkbox-button {
    display: none;
}

.checkbox-label {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.checkbox-label img {
    width: 96px;
}

.checkbox-label.selected {
    background-color: #626773;
    color: #fff;
} */
